<script>
import TransactionItem from '../../component/item/Index.vue'
export default {
  components: {
    TransactionItem,
  },
  methods: {
    createOrder() {
      this.$router.push({ name: 'order-review' })
    }
  }
}
</script>

<template>
  <div class="main">
    <section class="top">
      <div class="greeting">
        <p>Ahmad haidar</p>
        <span class="badge badge-success">Waiter</span>
      </div>
      <div class="transaction-search">
          <img src="../../assets/icons8-search-30.png" alt="">
          <input type="text" placeholder="Cari transaksi">
      </div>
      <div class="transaction-summary">
        <div class="item">
          <div class="status">
            <span class="badge badge-success">Selesai</span>
            <span class="seat-number text-small text-muted">#2001</span>
          </div>
          <div class="detail">
              <img src="../../assets/icons8-user-32.png" alt="">
              <span>Angel</span>
          </div>
          <span class="amount text-small text-muted">3 Item</span>
        </div>
        <div class="item">
          <div class="status">
            <span class="badge badge-warning">Sedang di proses</span>
            <span class="seat-number text-small text-muted">#2001</span>
          </div>
          <div class="detail">
              <img src="../../assets/icons8-user-32.png" alt="">
              <span>Angel</span>
          </div>
          <span class="amount text-small text-muted">3 Item</span>
        </div>
        <div class="item">
          <div class="status">
            <span class="badge badge-danger">Dibatalkan</span>
            <span class="seat-number text-small text-muted">#2001</span>
          </div>
          <div class="detail">
              <img src="../../assets/icons8-user-32.png" alt="">
              <span>Angel</span>
          </div>
          <span class="amount text-small text-muted">3 Item</span>
        </div> 
      </div>
    </section>
    <section class="bottom">
      <div class="category">
        <div class="item active">
          <div class="icon">
            <img src="../../assets/icons8-drink-32.png" alt="">
          </div>
          <span>Favorit</span>
        </div>
        <div class="item active">
          <div class="icon">
            <img src="../../assets/icons8-drink-32.png" alt="">
          </div>
          <span>Makanan</span>
        </div>
        <div class="item">
          <div class="icon">
            <img src="../../assets/icons8-food-bar-24.png" alt="">
          </div>
          <span>Minuman</span>
        </div>
        <div class="item">
          <div class="icon">
            <img src="../../assets/icons8-food-bar-24.png" alt="">
          </div>
          <span>Cemilan</span>
        </div>
      </div>
      <div class="menu">
        <div class="item">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/70/29/7e/best-coffee-in-the-island.jpg" alt="">
          <div class="description">
            <span class="text-muted">Cappucino</span>
            <span>Rp. 10.000</span>
          </div> 
        </div>
        <div class="item active">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/70/29/7e/best-coffee-in-the-island.jpg" alt="">
          <div class="description">
            <span class="text-muted">Cappucino</span>
            <span>Rp. 10.000</span>
          </div> 
          <div class="action">
            <button label="add" value="1"> + </button>
            <span label="qty-123"> 1 </span>
            <button label="sub" value="1"> - </button>
          </div>
        </div>
        <div class="item">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/70/29/7e/best-coffee-in-the-island.jpg" alt="">
          <div class="description">
            <span class="text-muted">Cappucino</span>
            <span>Rp. 10.000</span>
          </div> 
        </div>
        <div class="item">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/70/29/7e/best-coffee-in-the-island.jpg" alt="">
          <div class="description">
            <span class="text-muted">Cappucino</span>
            <span>Rp. 10.000</span>
          </div> 
        </div>
        <div class="item">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/70/29/7e/best-coffee-in-the-island.jpg" alt="">
          <div class="description">
            <span class="text-muted">Cappucino</span>
            <span>Rp. 10.000</span>
          </div> 
        </div>
        <div class="item">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/70/29/7e/best-coffee-in-the-island.jpg" alt="">
          <div class="description">
            <span class="text-muted">Cappucino</span>
            <span>Rp. 10.000</span>
          </div> 
        </div>
      </div>
      <div class="order-now" @click="createOrder">
      <div class="desc">
        <span>Buat transaksi baru</span>
        <span>
          3 items <b>Rp. 20.000</b>
        </span>
      </div>
    </div>
    </section>
    
  </div>
</template>

<style scoped>
  .main {
    height: 100vh;
  }
  .top {
    padding: 10px 20px;
    background-color: #fbf5ff;
  }
  .top .greeting {
    display: flex;
    align-items: center;
  }
  .top .greeting p {
    font-size: 15px;
    font-weight: 900;
  }
  .top .greeting span {
    margin-left: 10px;
    background: #efdefb;
    color: #704aa0;
  }

  .badge {
    font-size: 10px;
    padding: 1px 10px;
    border-radius: 60px;
  }

  .badge-success {
    background: #9ed29c;
    color: #2f7d2c; 
  }

  .badge-warning {
    background: #FEECE1;
    color: #FB7221;
  }

  .badge-danger {
    color: #FF3B30;
    background: #FFE2E0;
  }

  .top .transaction-search {
    width: 100%;
    background: white;
    margin-top: 15px;
    height: 44px;
    border-radius: 50px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
  }

  .top .transaction-search input {
    width: 80%;
    height: 20px;
    outline: none;
    border: none;
    padding-left: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #887676;
    font-family: 'Poppins',sans-serif;
  }
  .top .transaction-summary {
    margin-top: 15px;
    display: flex;
    width: 105%;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
  }
  .top .transaction-summary::-webkit-scrollbar {
    display: none;
  }
  .top .transaction-summary .item {
    min-width: 200px;
    padding: 15px 10px;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
  }
  .top .transaction-summary .item .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top .transaction-summary .item .detail {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .top .transaction-summary .item .detail img {
    width: 20px;
  }
  .top .transaction-summary .item .detail span {
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
  }

  .top .transaction-summary .item .amount {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-top:5px;
  }
  .text-muted {
    color: #878787;
  }
  .text-small {
    font-size: 13px;
  }
  .bottom {
    padding: 10px 20px 0px 20px;
  }
  .category {
    display: flex; 
    gap: 20px;
    margin-top: 10px;
    overflow-x: scroll;
  }
  .category::-webkit-scrollbar {
    display: none;
  }
  .category .item {
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    min-width: 93px;
    border-radius: 10px;
    flex-direction: column;
  }
  .category .item span {
    font-size: 12px;
    margin-top: 4px;
    font-weight: bold;
  }

  .category .item .icon {
    width: 45px; 
    height: 45px;
    background: #efdefb;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .category .item .icon img {
    width: 20px;
    height: 20px;
    display: flex;
   
    text-align: center;
    line-height: 45px;
  }
  .category .active {
    border: 1px solid #704aa0;
    background: #f3eafa;
  }
  .menu {
    margin-top: 10px;
  }
  .menu .item {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu .item:not(:first-child) {
    margin-top: 10px;
  }
  .menu .item .description {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  .menu .item .description span {
    font-size: 14px;
    font-weight: bold;
  }
  .menu .item p {
    font-weight: bold;
    font-size: 14px;
  }
  .menu .item img {
    width: 50px;
    object-fit: cover;
    height: 50px;
    border-radius: 10px;
  }
  .menu .item.active {
    border: 1px solid #704aa0;
  }
  .menu .item.active .description {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }
  .menu .item.active .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27%;
  }
  .menu .item.active .action button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #e7e7e7;
  }
  .menu .item.active .action span {
    font-size: 16px;
    font-weight: 600;
  }
  .order-now {
    width: 90%;
    margin: auto;
    position: fixed;
    bottom: 2%;
    color: white; 
    background: #704aa0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
  }
  .order-now .desc {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }
</style>
