<template>
    <div :class="theme" >
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/70/29/7e/best-coffee-in-the-island.jpg" alt="">
        <div class="description">
            <span class="text-muted">Cappucino</span>
            <span>Rp. 10.000</span>
        </div> 
        <div class="action">
            <button label="add" value="1"> + </button>
            <span label="qty-123"> 1 </span>
            <button label="sub" value="1"> - </button>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
    },
    theme: {
      type: String
    }
  },
  computed: {
    theme () {
      const themes = {
        'primary': 'item',
        'default': 'item no-border'
      }
      let selected_theme = themes[this.theme]
      if (this.active)
          selected_theme = `${themes[this.theme]} active`
      return selected_theme
    }
  }
}
</script>

<style scoped>
  .item {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item .description {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  .item .description span {
    font-size: 14px;
    font-weight: bold;
  }
  .item p {
    font-weight: bold;
    font-size: 14px;
  }
  .item img {
    width: 50px;
    object-fit: cover;
    height: 50px;
    border-radius: 10px;
  }
  .item.active {
    border: 1px solid #704aa0;
  }
  .item.active .description {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }
  .item.active .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27%;
  }
  .item.active .action button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #e7e7e7;
    font-size: 16px;
  }
  .item.active .action span {
    font-size: 16px;
    font-weight: 600;
  }
  .no-border {
    border: none !important;
    padding: 0px;
  }
</style>