<script>
  import TransactionItem from '../../component/item/Index.vue';
  export default {
    components: {
      TransactionItem
    },
    methods: {
      chooseTable() {
        this.$router.push({ name: 'order-table' })
      },
      setCustomer() {
        this.$router.push({ name: 'order-customer' })
      }, 
      completeOrder() {
        this.$router.push({ name: 'order-complete' })
      }
    }
  }
</script>

<template>
  <div class="order">
    <nav>
      <img src="../../assets/icons8-back-30.png" alt="back"/>
      <p>
        Order <b>#2010</b>
      </p>
    </nav>
    <div class="detail">
      <div class="box" @click="chooseTable">
        <div class="icon">
          <img src="../../assets/icons8-food-bar-24.png" alt="">
        </div>
        <div class="information">
          <div>
            <small>Meja</small>
            <p>Outside</p>
          </div>
          <img src="../../assets/icons8-back-30.png" alt="back"/>
        </div>
      </div>

      <div class="box">
        <div class="icon">
          <img src="../../assets/icons8-food-bar-24.png" alt="">
        </div>
        <div class="information">
          <div>
            <small>Customer</small>
            <p>Ahmad haidar albaqir</p>
          </div>
          <a href="#" @click.prevent="setCustomer">
            Edit
            <img width="15" height="15" src="../../assets/icons8-edit-48.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="transaction">
      <h2>Items</h2>
      <div class="list">
        <transaction-item :active="true" theme="default" />
        <transaction-item :active="true" theme="default" />
        <transaction-item :active="true" theme="default" />
        <transaction-item :active="true" theme="default" />
        <transaction-item :active="true" theme="default" />
      </div>
      <div class="summary">
        <h2>Detail</h2>
        <div class="list">
          <small>Subtotal</small>
          <b>Rp. 28.0000</b>
        </div>
        <div class="list">
          <small>Tax</small>
          <b>Rp. 28.0000</b>
        </div>
        <div class="list">
          <small>Discount</small>
          <b>Rp. 10.000</b>
        </div>
      </div> 
    </div>
    <div class="order-now" @click="completeOrder">
        Bayar
    </div>
  </div>
</template>

<style scoped>
  .order {
    height: 100vh;
  }
  nav {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  nav img {
    width: 20px;
    height: 20px;
  }
  nav p {
    font-size: 14px;
  }
  .order .detail {
    padding: 30px 20px;
    box-sizing: border-box;
    width: 100%;
    background: #fbf5ff;
  }
  .order .detail .box {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 8px 8px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
  }
  .order .detail .box .icon img {
    width: 15px;
    height: 15px;
  }
  .order .detail .box .icon {
    width: 30px; 
    height: 30px;
    background: #efdefb;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .order .detail .box .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83%;
  }
  .order .detail .box:first-child .information img{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
  }
  .order .detail .box .information small {
    font-size: 10px;
  }
  .order .detail .box .information p {
    font-size: 13px;
    font-weight: bold;
  }

  .order .detail .box .information a {
    text-decoration: none;
    font-size: 13px;
    padding: 1px 10px;
    border-radius: 50px;
    border: 1px solid #e7e7e7;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .order .detail .box .information a img {
    margin-left: 5px;
  }
  .order .detail .box:not(:first-child) {
    margin-top: 10px;
  }

   .order .transaction {
    padding: 20px 20px 68px 20px;
    box-sizing: border-box;
    width: 100%;
  }
  .order .transaction h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .order .transaction .list .item:not(:first-child) {
    margin-top: 20px;
  }
  .order .transaction .summary {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
  }
  .order .transaction .summary h2 {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
  }
  .order .transaction .summary .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .order .transaction .summary .list:not(:first-child) {
    margin-top: 8px;
  }
  .order .transaction .summary .list b {
    font-size: 14px;
  }
  .order-now {
    width: 90%;
    position: fixed;
    bottom: 2%;
    color: white; 
    left: 20px;
    background: #704aa0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
  }
</style>
