<template>
  <div class="main">
    <img src="../../assets/order_complete.svg" alt="">
    <h2>Transaksi berhasil</h2>
    <p>Hore, transkasi anda berhasil dibuat silahkan tunggu dalam beberapa saat.</p>
    <a href="">Cetak struk</a>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.main {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main img {
  height: 200px;
}
.main h2 {
  margin-top: 20px;
}
.main p {
  text-align: center;
  margin-top: 10px;
}
.main a {
  width: 90%;
  color: white; 
  background: #704aa0;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}
</style>