<script>
  export default {
    methods: {
      backToOrderReview() {
        this.$router.push({ name: 'order-review' })
      }
    }
  }
</script>

<template>
  <div class="customer">
    <nav>
      <img src="../../assets/icons8-back-30.png" alt="back" @click="backToOrderReview" />
      <p>
        Data diri
      </p>
    </nav>
    <div class="form">
      <div class="form-item">
        <label for="name">Nama</label>
        <input type="text" name="" id="name">
      </div>
      <div class="form-item">
        <label for="telepon">Telepon</label>
        <input type="number" name="" id="telepon">
      </div>
      <div class="form-item">
        <label for="address">Alamat</label>
        <input type="text" name="" id="address">
      </div>
    </div>
    <div class="order-now" @click="backToOrderReview()">
        Simpan
    </div>
  </div>
</template>

<style scoped>
  .customer {
    height: 100vh;
    background: #fbf5ff;
  }
  nav {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
  }
  nav img {
    width: 20px;
    height: 20px;
  }
  nav p {
    font-size: 14px;
  }
  .customer .form {
    padding: 10px 20px;
  }
  .order-now {
    width: 90%;
    position: fixed;
    bottom: 2%;
    color: white; 
    left: 20px;
    background: #704aa0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
  }
  .customer .form .form-item {
    display: flex;
    flex-direction: column;
  }
  .customer .form .form-item:not(:first-child) {
    margin-top: 10px;
  }
  .customer .form .form-item label {
    font-size: 14px;
    font-weight: bold;
    font-size: 14px;
  }
  .customer .form .form-item input {
    height: 44px;
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
    padding-left: 20px;
  }
</style>
