<script>
  export default {
    methods: {
      backToOrderReview() {
        this.$router.push({ name: 'order-review' })
      }
    }
  }
</script>

<template>
  <div class="table">
    <nav>
      <img src="../../assets/icons8-back-30.png" alt="back" @click="backToOrderReview" />
      <p>
        Pilih Meja
      </p>
    </nav>
    <div class="list">
        <div class="item active">A1</div>
        <div class="item">A2</div>
        <div class="item">A3</div>
        <div class="item">A4</div>
        <div class="item">A5</div>
        <div class="item">A6</div>
        <div class="item">A7</div>
        <div class="item">A8</div>
    </div>
    <div class="order-now" @click="backToOrderReview()">
        Simpan
    </div>
  </div>
</template>

<style scoped>
  .table {
    height: 100vh;
    background: #fbf5ff;
  }
  nav {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
  }
  nav img {
    width: 20px;
    height: 20px;
  }
  nav p {
    font-size: 14px;
  }
  .table .list {
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
  }
  .table .list .item {
    width: 50px;
    height: 50px;
    background: #f3eafa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: #704aa0;
    align-items: center;
    cursor: pointer;
  }
  .table .list .item.active {
    border: 1px solid #704aa0;
  }
  .order-now {
    width: 90%;
    position: fixed;
    bottom: 2%;
    color: white; 
    left: 20px;
    background: #704aa0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
  }
</style>
